html,body{
    margin: 0;
    height: 100%;
}
body{
    --color-black:#000;
    --color-white:#fff;
    --color-bgc-main:#121212;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}