.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
    padding: 9px 2px;
}
.header-logo img{
    position: relative;
    left: 25px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}
.header-search{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-search-btn-home{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #1f1f1f;
}
.header-search-btn-home:hover{
    transform: scale(1.05);
}
.svg-search{
    position: absolute;
    left: 40.5%;
    top: 20px;
    fill: #878787;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.header-search-input{
    height: 48px;
    width: 430px;
    border-radius: 500px;
    font-size: 1rem;
    background-color: #1f1f1f;
    color: var(--color-white);
    cursor: text;
    outline: 0;
    border: 0;
    transition: 100ms;
    padding-left: 55px;
}
.header-search-input:hover{
    outline: 1px solid #505050;
    background-color: #343434;
}
.header-search-input:hover.svg-search{
    fill: var(--color-white);
}
.header-search-input:focus{
    outline: 2px solid var(--color-white);
}